body {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  /* background-color: #e6e6e6c9; */
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}

.banner {
  background-image: url(img/main-wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 58em;
  /* height: 100vh; */
  display: flex;
}

/* -------header section------- */
header {
  height: 3em;
  width: 100%;
  margin-bottom: 1em;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  margin: 0 auto;
}

.logo-wrapper a {
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
}

.logo-wrapper img {
  width: 2em;
  padding: 0 .5em;
}

nav li {
  display: inline-block;
  margin: 0 1.5em;
}

nav li a {
  text-decoration: none;
  color: #000;
  font-size: 1.5em;
  font-weight: 600;
}


.intro-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 0 auto;
  margin-bottom: 2.4em;
}

.intro-title h1 {
  font-size: 4em;
  color: #fff;
}

.intro-title p {
  font-size: 1.5em;
  padding: 1em 0;
  color: #fff;
}

.btn-details {
  padding: 1em 3em;
  border-radius: .5em;
  background-color: #debb26;
  color: #000;
  font-weight: bold;
  font-size: 1em;
  text-decoration: none;
}

.btn-details:hover {
  color: #fff;
}

.intro-section {
  margin: 15em auto;
}

.block-section {
  display: flex;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5em;
}

.text-wrapper h2 {
  font-size: 2em;
  margin: .5em;
}

.text-wrapper p {
  font-size: 1.2em;
  padding: .5em 1em;
}

.block-section img {
  width: 50%;
  height: auto;
}

/* ------- game genre section------ */

.genre-heading {
  text-align: center;
  margin: 2em 0;
  font-size: 3em;
}

.genre-wrapper {
  display: flex;
  text-align: center;
}

.game-genre {
  border: 1px solid black;
  margin: 0 3em;
}

.game-genre h3 {
  font-size: 2em;
  margin: 1em 0;
}

.game-genre p {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1em;
  margin: 0 1em;
}

.game-genre li {
  margin: 1em 0;
  list-style: none;
  font-size: 1.5em;
  font-weight: bold;
}

.game-genre li::before {
  content: "\2022";
  margin: 0 .5em;
  font-size: 1em;
  color: #0d508ac9;
}

.game-types img {
  width: 100%;
  height: auto;
}

.btn-genre {
  text-decoration: none;
  display: inline-block;
  padding: 1em 3em;
  box-sizing: border-box;
  border-radius: .5em;
  color: #FFF;
  background: #000;
  font-weight: bold;
  margin: .5em 0;
}

/* ------ img collage section */

.popular-games h3 {
  font-size: 2em;
  text-align: center;
  margin: 3em auto;
}

.games-collage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.img-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img-wrapper img {
  display: block;
  width: 28.2em;
  height: 15em;
}

.item-overlay {
  position: absolute;
  /* background: rgba(29, 106, 154, 0.0);  */
  top: -100%;
  opacity: 0;
  transition: all ease 1s;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.item-overlay a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  display: block;
}

.img-wrapper:hover .item-overlay {
  opacity: 1;
  top: 50%;
}
